body{
	width: 600px;
	margin: 0 auto;
	border: 5px solid #02499B;
	margin-top: 5%;
}
.users{
    float: right;
    border: 1px solid black;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
	margin-top: 34px;
    padding: 10px;
}
.messages {
	width: 500px;
	height: 400px;
	margin: auto;
	border : 1px solid black;
	padding: 1em;
}

.message_list {
	display: flex;
	flex-direction: column;
}

.message_item_start {
	align-self: start;
}

.message_item_end {
	align-self: end;
}

.message_form,
.change_name_form{
	padding: 1em;
}
.center{
	width: 600px;
	height: 700px;
}
.textinput{
	margin-left: 3%;
	width: 520px;
	height: 40px;
}

#root {
	text-align: center;
}